body {
    background-color: #faebd7;
    font-size: 125%;
    font-family:cursive;
}
a {
    text-decoration: none;
    font-family: Sans-serif;
    font-size: x-large;
}

.sidebar {
    width: 15%;
    height: 10%;
    background-color: #cabba7;
   }

.sidebar a {
    display: block;
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: #4e4e4e;
}

.sidebar:hover {
    background-color: #b6aa99;
}